name: OIDC

on:
  workflow_dispatch:
  push:

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  test-oidc:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: configure AWS credentials
        id: credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-north-1
          output-credentials: false
          role-to-assume: arn:aws:iam::922478218787:role/github-actions
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: install cdk
        run: |
          npm install -g aws-cdk
      - name: test aws cli
        run: |
          cdk deploy
