name: Pull Request

on:
  pull_request:

jobs:
  test-oidc:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: run linter
        run: |
          echo "Linter"
      - name: sumilate fail
        id: fail
        run: |
          echo "Something to stdout"
          exit 1 "I want to see this in PR comments"
        continue-on-error: true

      - run: echo ${{ steps.fail.outputs.stdout }}
      - run: echo ${{ steps.fail.outputs.stderr }}
      - run: echo ${{ steps.fail.outputs.exitcode }}

      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // 1. Retrieve existing bot comments for the PR
            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            })
            const botComment = comments.find(comment => {
              return comment.user.type === 'Bot' && comment.body.includes('Terraform Format and Style')
            })

            // 2. Prepare format of the comment
            const output = `
            <details><summary>Comments</summary>
            \n
            ${{ steps.fail.outputs.stdout }}
            \n
            ${{ steps.fail.outputs.stderr }}
            \n
            ${{ steps.fail.outputs.exitcode }}

            </details>

            *Pusher: @${{ github.actor }}, Action: \`${{ github.event_name }}\`, Workflow: \`${{ github.workflow }}\`*`;

            // 3. If we have a comment, update it, otherwise create a new one
            if (botComment) {
              github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: output
              })
            } else {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: output
              })
            }
